.pagination_buttons {
  position: absolute;
  right: 0;
  width: 26%;
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 0 20px;
}

.page_btn:not(.start_page),
.page_btn:not(.prev_page),
.page_btn:not(.next_page),
.page_btn:not(.end_page) {
  width: 35px;
}

.page_btn,
.start_page,
.prev_page,
.next_page,
.end_page {
  background: #ccc;
  font-size: 0.6em;
  font-weight: bold;
}

.page_btn {
  background: #ddd;
  color: #2c303a;
  height: 35px;
  border-radius: 2px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.page_btn.active {
  background: #717790;
  color: #fff;
}

.page_btn[disabled] {
  opacity: 0.3;
}
