/* .home_section { 
  background: #e4e9f7; 
  left: 260px;
  width: 100%;
  margin-bottom: 1rem; 
  transition: all 0.5s ease;
}

.sidebar.close ~ .home_section {
  left: 75px;
  width: calc(100%-78px);
}

.home_content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home_content i,
.text {
  color: #11101d;
  font-size: 35px;
}

.home_content i {
  margin: 0 15px;
  cursor: pointer;
}

.text {
  font-size: 26px;
  font-weight: 600;
}

.search_form {
  display: flex;
} */

.home_section {
  background: #f5f5f5;
  position: absolute;
  /* min-height: 100vh; */
  width: 100%;
  z-index: 999;
}

.home_section nav {
  height: 80px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.sidebar_button i {
  font-size: 35px;
  margin-right: 10px;
}

.search_box {
  height: 50px;
  width: 550px;
  margin: 0 20px;
  position: relative;
}

.search_box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 17px;
  background: #f5f6fa;
  border: 2px solid #efeef1;
}

.search_box > i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background: #2697ff;
  border-radius: 6px;
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

.profile_details {
  display: flex;
  align-items: center;
  height: 50px;
  /* min-height: 190px;  */
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  padding: 0 15px 0 2px;
}

.profile_details img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 6px;
}

.admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

.profile_details i {
  color: #333;
  font-size: 25px;
}

@media (max-width: 1216px) {
  .sidebar_button i {
    display: none;
  }
}

@media (max-width: 658px) {
  .dashboard,
  .admin_name,
  .profile_details i {
    display: none;
  }

  .profile_details {
    min-width: 50px;
    height: 50px;
  }
}
